{:deps true
 
 :nrepl {:port 9000}
 
 :dev-http {9500 "public"}

 :builds {:app {:target :browser
                :output-dir "public/js/compiled"
                :asset-path "/js/compiled"
                ; :modules {:main {:entries [core]}}
                :modules {:main {:init-fn core/init!}}
                :dev {:closure-defines {goog.DEBUG true
                                        "re_frame.trace.trace_enabled_QMARK_" true
                                        "day8.re_frame.tracing.trace_enabled_QMARK_" true}
                      :compiler-options {:source-map true
                                         :pretty-print true}}
                :devtools {:after-load core/on-reload!
                           :preloads [devtools.preload
                                      day8.re-frame-10x.preload]}
                :release {:closure-defines {goog.DEBUG false}
                          :compiler-options {
                                            ;  :pretty-print true
                                            ;  :warnings true
                                            ;  :source-map false
                                            ;  :source-map-path "public/js/compiled"
                                            ;  :source-map-timestamp true
                                            ;  :parallel-build true
                                            ;  :optimizations :simple
                                            ;  :infer-externs :auto
                                             }}}}}
